# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/

# IDE
.idea/
.vscode/

# Secrets
.env
.env.*
!.env.example

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
